.App {
  text-align: center;
}
input {
  background-color: cadetblue;
  height: 17px;
  width: 60%;
  border: none;
  border-bottom: 2px solid;
  /* background: transparent; */
  outline: transparent;
  padding: 30px;
  margin: 55px auto;
  font-size: 40px;


}